:root {
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue:hsl(208, 11%, 55%);
}

/* Fontes 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 48px 78px 65px 80px ;
    background: url("../images/bg-hero-desktop.svg") no-repeat var(--pale-cyan);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

header img {
    max-height: 50px;
    max-width: 205px;
}

header a.btn-header {
    height: 50px;
    width: 205px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.flex-header {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
}

.flex-header .img {
    max-width: 680px;
    max-height: 490px;
}

.flex-header .img img {
    max-width: 100%;
    max-height: 100%;
}

.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    color: var(--dark-cyan);
}

.text-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 600;
    margin-bottom: 35px;
}

.text-header p {
    font-size: 1.2rem;
    margin-bottom: 35px;
}

.text-header a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 280px;
    background-color: var(--pink);
    font-weight: 700;
    border-radius: 30px;
    font-size: .9rem;
}

.cards {
    padding: 160px 100px 340px 100px;
}

.card {
    height: 440px;
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 37px;
    padding:53px 32px 53px 124px;
}

.cards .card div:nth-child(1) {
    justify-self: start;
}

.card div:nth-child(2) {
    justify-self: end;
}

.card-text {
    max-width: 500px;
    align-self: center;
}

.card-text h1 {
    color: var(--dark-cyan);
    margin-bottom: 21px;
    font-size: 1.9rem;
}

.card-text p {
    color: var(--grayish-blue);
    font-size: 1.2rem;
}

.card .img img {
    max-height: 340px;
    max-width: 90%;
}

.get-started {
    background-color: white;
    position: absolute;
    left: calc(50% - 400px);
    margin-top: -186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 282px;
    border-radius: 25px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    z-index: 1000;
}

.get-started h1 {
    font-size: 2rem;
    margin-bottom: 45px;
}

.get-started a {
    height: 80px;
    width: 400px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

footer {
    padding: 190px 80px 60px 120px;
    background-color: var(--dark-cyan);
    color: var(--pale-cyan);
}

footer > img {
    margin-bottom: 40px;
}

footer > p {
    float: right;
    font-size: .8rem;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.address {
 max-width: 370px;
}

.info {
    display: flex;
    margin-bottom: 30px;
}

.info img {
    max-width: 100%;
    max-height: 20px;
    margin-right: 20px;
}

.info p {
    max-width: 325px;
}

.footer a {
    color: var(--pale-cyan);
    font-size: 1.2rem;
}

.icons {
    width: 260px;
    display: flex;
}

.icons a {
    color: var(--pale-cyan);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--pale-cyan);
    border-radius: 15px;
    margin-right: 10px;
    font-size: .8rem;
    
}

.footer ul li {
    margin-bottom: 25px;
}

@media(max-width: 1250px) {
    .flex-header {
        flex-direction: column;
        align-items: center;
    }

    .text-header {
        text-align: center;
        max-width: 100%;
        align-items: center;
        margin-bottom: 80px;
    }

    .cards {
        padding: 100px 10px;
        padding-bottom: 160px;
    }
    .card {
        height: 100%;
        grid-template-columns: 1fr;
        padding: 40px 80px;
    }

    .card .card-text {
        text-align: center;
        grid-row: 2;
        max-width: 100%;
    }

    
    .cards .card div:nth-child(1) {
        justify-self: center;
    }

    .footer {
        flex-direction: column;
    }

}

@media (max-width: 600px) {

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header img {
        max-width: 100px;
    }

    .header a {
        height: 50px;
        padding: 15px 0;
    }

    header a.btn-header {
        width: 120px;
        font-size: .9rem;
    }

    .get-started {
        left: 10px;
        width: 350px;
    }

    .get-started h1 {
        font-size: 1.2rem;
    }

    .get-started a {
        width: 250px;
        font-size: 1rem;
    }

    footer {
        padding: 180px 10px 60px 10px;
    }
}